f_copy_message
f_copy_namespace
f_count_messages
f_get
f_get_data
f_get_pl
f_get_pv
f_get_set_uuid
f_index
f_keys_iterator
f_multi
f_multi_write
f_nearest
f_new_from_file
f_precision
f_print_data
f_read_from_file
f_read_message
f_samples
f_set
f_set_bitmap
f_set_gvc
f_set_missing
f_set_pv
